@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.welcome-container {
  height: 100vh;
  /* background-color: white; */
  z-index: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../cross.jpg");
}

/* #DBFE87, #FFE381, #CEC288, #6F8695, #1C448E */

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;

  gap: 84rem;
  border-bottom: 1px solid #d3d3d3;
  z-index: 10;
  background-color: white;
  height: 8%;

  width: 100%;
}

.headerTwo {
  font-size: 3.2rem;
  font-weight: 600;
  color: #222;
  font-family: "Raleway", sans-serif;
}

.no {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.list {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.list-anchor {
  font-size: 2rem;
  text-decoration: none;
  color: #b0b0b0;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  background: none;
  border: none;
}

.list-anchor:hover {
  color: #333;
  transition: all 0.3s;
  cursor: pointer;
}

.call {
  padding: 1rem;
  border-radius: 30px;
  color: white;
  font-weight: 500;
  background-color: #1c448e;
  width: 28%;
}

.call:hover {
  background-color: #cec288;
  color: white;
  cursor: pointer;
}

.hero-container {
  display: flex;
  height: 89%;

  margin: 0;
  gap: 20rem;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.about {
  max-width: 60rem;
  font-family: "Raleway", sans-serif;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: space-between;
}

.headerOne {
  font-size: 5.6rem;
  color: #222;
}

.search-container {
  display: grid;
  grid-template-columns: 5fr 1fr 1.5fr;
  border: 1px solid #666;
  width: 100%;
  border-radius: 11px;
  -webkit-box-shadow: -5px 7px 24px -1px rgba(0, 0, 0, 0.23);
  box-shadow: -5px 7px 24px -1px rgba(0, 0, 0, 0.23);
}

.search {
  height: 6rem;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  border: none;
  font-size: 1.6rem;
  padding-left: 0.6rem;
  color: #555;
}

.search:focus {
  outline: none;
}

.zip {
  padding-left: 0.6rem;
  font-size: 1.6rem;
  color: #555;
  border-left: 1px solid #666;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.zip:focus {
  outline: none;
}

.search-btn {
  font-size: 1.6rem;
  border: none;
  color: white;
  font-weight: 600;
  background-color: #1c448e;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
}

.search-btn:hover {
  cursor: pointer;
  transition: all 0.3s;
  color: black;
  background-color: #cec288;
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3%;
}
.arrow {
  font-size: 3rem;
  color: white;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.arrow:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
